<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Compte{% endblock %}</title> <!-- ajouter la variable qui fait récupérer le nom du compte -->
</head>
<body>
{% block body %}
    <div class="container">
        <h1>Compte de {{ user.username }}</h1>
        <div class="navbar">
            <a href="/">Accueil</a>
            <a href="/sell">Vendre</a>
            <a href="/cart">Panier</a>
            <a href="/account">Compte</a>
        </div>
    </div>
{% endblock %}
</body>
</html>